<header>
    <nav>
        <a ng-link="['Top']">Top</a>
        <a ng-link="['Stream']">Stream</a>
        <a ng-link="['Likes']">Likes</a>
        <a ng-link="['Playlists']">Playlists</a>
    </nav>
</header>
<article class="container">
    <div class="body">
        <ng-outlet></ng-outlet>
    </div>
</article>

<footer>
    <audio id="player" controls src=""></audio>
</footer>